@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

body {
    font-family: 'Lato', sans-serif;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
}

p{
    margin-bottom: 3.5px;
}

.navbar{
    background-color: #FBF2E1 !important;
}

.navbar a{
    color: #495057 !important;
}

.navbar a:hover{
    color: #e67e0c !important;
    transition: color .2s linear;
}
/*!important - Forces a css property where multiple selectors are involved*/
.dark-background{
    background: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E") #50423e;
}

.white-background{
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.sub-title{
    color: #f49731;
    font-size: 21px;
    font-weight: lighter;
    line-height: 31.5px !important;
}

.white-background a{
    color: #000000;
    text-decoration-style: dashed;
    line-height: 21px !important;
}

.dark-background a{
    color: #ffffff;
    text-decoration-style: dashed;
    line-height: 21px !important;
}

footer{
    background-color: #e9ecef;
    padding-top: 40px;
    padding-bottom: 40px;
}

